<hello name="{{ name }}"></hello>

<table *ngIf="userList">
  <tr *ngFor="let item of userList">
    <td>{{ item.id }}</td>
    <td>{{ item.name }}</td>
    <td>{{ item.address.city }}</td>
  </tr>
</table>



https://stackblitz.com/edit/angular-gallery-carousel-slider
https://stackblitz.com/edit/angular-simple-carousel
https://stackblitz.com/edit/angular-image-slider-online-demo
https://stackblitz.com/edit/angular-carousel-example-m8hrxa
https://stackblitz.com/edit/dynamic-carousel-in-angular
https://stackblitz.com/edit/angular5-slider
https://stackblitz.com/edit/angular-materialize-carousel?file=src%2Fapp%2Fapp.component.ts